.p {
    width: 200px;
    height: 200px;
    position: relative;
    padding: 0;
}

.p .item {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.p .nav-next,
.p .nav-prev {
    position: absolute;
    bottom: -20px;
}

.p .nav-prev { left: 0; }
.p .nav-next { right: 0; }

.p .item table {
    width: 100%;
    border-collapse: collapse;
}

.p .item td { border: 1px solid #555; }